@charset "UTF-8";
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Quicksand', sans-serif;
50px -->60px!!! margin / padding - viewport 

*/
body {
  background-color: #f3eeea;
}
.animation-container{
  display: flex;
  height: 100vh;
  background-color: black;
  
  padding:60px;
  z-index: 200;
}
.animation-container>div:first-child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animation-container>div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 25px;
  transform: scaleY(0.8);

  margin: 0 30px;
}

#to100 {
  color: white;
  font-family: 'Noto Serif Display', serif;
  font-weight: 200;
  font-size: 150px;
}


.section-name {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  transform: scaleY(0.8);
}
        
.underline::after {
  content: '';
  height: .1px;
  width: 0%;
  background-color: black;
  display: block;
  transition: .3s ease-in-out;
}

.underline:hover::after {
  content: '';
  height: .1px;
  width: 100%;
  background-color: black;
  display: block;
}

.text-body {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: black;
}


/* ------ 1st viewport - the menu ------*/

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }

  .left-column-container {
    display: none;
  }
}

.menu-row-container {
  position: fixed;
  top: 25px;
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu {
  font-size: 1.9vw;
  font-weight: 400;
  mix-blend-mode:hue;
}

.menu-owner {
  font-size: 2vw;
  letter-spacing: 4px;
  font-weight: 400;
}

.menu-screen {
  position: relative;
  height: 100vh;
  padding: 50px 60px;
}

.art-objects {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: 'Kanit', sans-serif;

}

.art-objects{
  overflow: hidden;
}

.art-objects h1{
  position: relative;
  overflow: hidden;
  font-size: 20vw;
  line-height: 80%;
  font-weight: 400;

  animation: fadeUp-artObjects .8s cubic-bezier(0.12, 0, 0.47, 1) forwards;
  opacity: 0;
}

.art-objects h1:last-child{
  animation-delay: .2s;
}

@keyframes fadeUp-artObjects {
  0%{
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
  }
}

.left-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 300px;
  margin-top: 50px;
}

.left-column-container a{
  font-size: 1.1vw;
}

a.side-list {
  display: block;
  overflow: hidden;

  width: max-content;
  margin-bottom: 3px;

  font-weight: 400;

  animation: fadeUp-sideList .3s cubic-bezier(0.12, 0, 0.47, 1) forwards;
  opacity: 0;
}

.left-column-container>a:nth-child(2){
  animation-delay: .15s;
}

.left-column-container>a:last-child{
  animation-delay: .3s;
}


@keyframes fadeUp-sideList {
  0%{
    transform: translateY(16px);
  }

  100%{
    opacity: 1;
  }
}

.menu-bottom {
  position: fixed;
  display: flex;
  align-items: center;
  width: 300px;
  bottom: 40px;
}

.menu-bottom>a>img {
  height: 15px;
  margin: 0 50px 0 0;
  transition: .5s .2s;

}

.menu-bottom img:hover {
  transform: scale(.5, .5);
}

.menu-bottom a:last-child {
  font-size: 1.1vw;
}

/* ------ 2nd viewport - Images (Gergő) ------*/

#two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
}

#two .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  margin-left: 60px;
}

#two .left h2 {
  margin-bottom: 10px;
}

#two .left img {
  width: 400px;
  height: 552px;

  /* 1.38 keparany */
/*   
  @media (max-width:400px) {};

  @media (min-width:401px) and (max-width:800px) {}

  @media (min-width: 801px) {}
 */
}

#two .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin-right: 60px;
  padding-bottom: 0;
}

#two .right h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
                  
}

#two .right img {
  width: 840px;
  height: 1008px;
  /* 1.2 keparany */
  @media (max-width:400px) {}

  @media (min-width:401px) and (max-width:800px) {}

  @media (min-width: 801px) {}

}

#three {
  margin-left: 60px
}

.about-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 65px;
  line-height: 65px;
  color: black;
  letter-spacing: 0.8px;
}

.first-line {
  margin-left: 300px;
}

.about-title {
  position: absolute;
  display: inline-block;
  letter-spacing: 0.8px;
  opacity: 0.5;
  margin-top: 10px;
  margin-left: 5px;
}

/* Az alábbit valamiért nem vette be.
#three span {
    overflow: hidden;
    transform: translateY(10%);
}*/
.first-row-container {
  background-color: blue;
  height: 100px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */