/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
50px margin / padding - viewport

*/

h1 {
    //Art objects:
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

//menu, cart:



//intro, about, featured, apol, hadr:
#two {
    display: flex;
    justify-content: space-between;

    margin: 0;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            margin-bottom: 10px;
        }

        img {
            width: 400px;
            height: 552px;
            // 1.38
            @media (max-width:400px){

            }
            @media (min-width:401px) and (max-width:800px) {

            }
            @media (min-width: 801px)
        }
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        p {
            transform: rotate(-90deg);

            margin-left: -60px;

            padding-left: 55px;
        }

        img {
            width: 840px;
            height: 1008px;
            // 1.2
            @media (max-width:400px){

            }
            @media (min-width:401px) and (max-width:800px) {

            }
            @media (min-width: 801px) {

            }
            cursor: none;

        }
    }
}

.section-name {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    transform: scaleY(0.8); //ez nyomja össze függőlegesen
}

.text-body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 75px;
    color: black;
    letter-spacing: 0.8px;
}

.first-line {
    margin-left: 280px;
}

.about-title {
    position: absolute;
    display: inline-block;
    letter-spacing: 0.8px;
    opacity: 0.5;
    margin-top: 10px;
}

/* Az alábbit valamiért nem vette be.
#three span {
    overflow: hidden;
    transform: translateY(10%);
}*/

//about, featured, view all objects, drag:

.first-row-container {
    background-color: blue;
    height: 100px;
    width: auto;
}